* {
  font-family: Arial;
}

body {
  width: 65%;
}

body > section > p {
  display: block;
  font-family: Tahoma;
}

mark {
  color: white;
  background-color: blue;
}

sidebar {
  width: 30%;
}